<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/about.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>Hello! Welcome to About Section</h3>
        <hr>
        <p>Through this website you can search for weather for any location around the world. This application using data from mapbox and darksky.</p>
        <img src="/images/image1.jpg" alt="" class="center">
        <img src="/images/image2.jpg" alt="" class="center">
        <img src="/images/image3.jpg" alt="" class="center">
        <img src="/images/image4.jpg" alt="" class="center">
        <img src="/images/image5.jpg" alt="" class="center">
        <img src="/images/image6.jpg" alt="" class="center">
        <img src="/images/image7.jpg" alt="" class="center">
        <img src="/images/image8.jpg" alt="" class="center">
        <img src="/images/image9.jpg" alt="" class="center">
        <img src="/images/image10.jpg" alt="" class="center">
        <img src="/images/image11.jpg" alt="" class="center">
        <img src="/images/image12.jpg" alt="" class="center">
        <img src="/images/image13.jpg" alt="" class="center">
    </div>
    {{>footer}}
</body>
</html>